body {
    font-family: Arial;
    background: #1a1a1a;
    color: white;
    text-align: center;
}

.container {
    width: 65%;
    margin: auto;
}

input {
    padding: 10px;
    width: 250px;
    margin: 10px;
}

button {
    padding: 10px 20px;
    background: #0077ff;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #005fcc;
}

.chat-area {
    margin-top: 20px;
    border: 1px solid #444;
    padding: 10px;
}

#chat {
    background: #000;
    padding: 10px;
    height: 350px;
    overflow-y: scroll;
    text-align: left;
}
